# SSL Certificates (sensitive)
config/wazuh_indexer_ssl_certs/
config/wazuh_indexer_ssl_certs/*.pem
config/wazuh_indexer_ssl_certs/*.key

# Environment files
.env

# Logs
*.log
logs.txt

# Backup files
*.bak
*.backup

# Docker volumes
**/data/

# Large Binaries
config/trivy/trivy
config/trivy/docker
